@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    <pre>
        @ViewBag.ResponseJson
    </pre>
    @ViewBag.ErrorMessage
</body>
</html>
