@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShipmentNo</title>
</head>
<body>
    @ViewBag.Result
    <br />
    @ViewBag.ShipmentNo
</body>
</html>
